<!--@name Cover Top Right @-->
<!--@screenshot https://s3-us-west-2.amazonaws.com/bloks.co/bloks/image/cover-top-right/screenshot.png @-->
<!--@vars
{
    "title": "Cover Top Right",
    "header": "<h2><strong>The sunset is brilliant</strong></h2>",
    "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quam purus, eleifend in neque a.</p>",
    "button": {
        "text": "Read more",
        "align": "bloks__button-left",
        "size": "bloks__button-medium",
        "background": "#7d7d7d",
        "color": "#fff",
        "href": "",
        "newtab": false
    },
    "backdrop": "rgba(255, 255, 255, 0.6)",
    "media": {
            "type": "background",
            "url": "https://s3-us-west-2.amazonaws.com/bloks.co/bloks/image/cover-top-right/cover-top-right-01.jpg",
            "allowvideo": true,
            "volume": "0",
            "autoplay": true
        },
    "iscover": true,
    "href": "",
    "position": {
        "header": true,
        "description": true,
        "button": true,
        "class": "bloks__position-top-right",
        "buttonalign":"bloks__button-right",
        "height": "1000"
    },
    "colorset": "bloks__colorset-light",
    "colorsets": {
        "dark": {
            "backdrop": "rgba(0, 0, 0, 0.6)",
            "button.color": "#7d7d7d",
            "button.background": "#ffffff"

        },
        "none": {
            "backdrop": "rgba(255, 255, 255, 0.6)",
            "button.color": "#ffffff",
            "button.background": "#7d7d7d"
        }
    }
}
@-->
<div v-bind:class="colorset"
     v-settings="{ title: 'Cover <span class=\'\ibloks-chevron-right\'\></span> Cover Top Right', position: 'position', colorpicker: 'backdrop'}"
     v-bind:style="{
     backgroundAttachment:styles.backgroundAttachment,
     paddingTop: styles.paddingTop + 'px',
     paddingBottom: styles.paddingBottom + 'px',
     paddingRight: styles.paddingRight + 'px',
     paddingLeft: styles.paddingLeft + 'px',
     backgroundImage: 'url(' + styles.backgroundImage + ')',
     backgroundRepeat: styles.backgroundRepeat,
     backgroundPosition: styles.backgroundPosition,
     }"
     class="bloks__block bloks__block-image bloks__cover-top-right">
    <div class="bloks__block-cover bloks__block-content" v-bind:class="position.class" v-bind:style="{height: position.height + 'px'}">
        <bloks-media :title.sync="title" :type.sync="media.type" :backdrop.sync="backdrop" :src.sync="media.url"
                     :autoplay.sync="media.autoplay" :settings="{ volume: media.volume, controls: false}"
                     :iscover.sync="iscover"
                     :href.sync="href"
                     :class="cover-background">
            <div class="bloks__block-cover-content" slot="before-content">
                <div class="cover-header" v-if="position.header">
                    <bloks-editor :content.sync="header" placeholder="Your title here!" default-paragraph="h2"
                                  class="bloks__block-cover-header" :mode="['full']"></bloks-editor>
                </div>
                <div class="cover-description" v-if="position.description">
                    <bloks-editor :content.sync="description" class="bloks__block-cover-description"></bloks-editor>
                </div>
                <div class="cover-button" v-if="position.button">
                    <bloks-button :href.sync="button.href"
                                  :title.sync="button.text"
                                  :align.sync="position.buttonalign"
                                  :size.sync="button.size"
                                  :background.sync="button.background"
                                  :color.sync="button.color"
                                  :newtab.sync="button.newtab"></bloks-button>
                </div>
            </div>
        </bloks-media>
    </div>
</div>