<!--@name Text Top outside @-->
<!--@screenshot https://s3-us-west-2.amazonaws.com/bloks.co/bloks/image/text-top-outside/screenshot.png @-->
<!--@vars
{

    "settings": {
        "header": true,
        "content": true
    },
    "link": {
        "link": "#",
        "target": "_self",
        "showtab": false
    },
    "styles": {
        "paddingTop": 30,
        "paddingBottom": 30
    },
    "backdrop": "rgba(255, 255, 255, 0.1)",
    "title": "EGD Image",
    "type": "image",
    "href": "",
    "src": "https://s3-us-west-2.amazonaws.com/bloks.co/bloks/image/text-top-outside/text-top-outside.jpg",
    "autoplay": false,
    "volume": "5",
    "newtab": false,
    "colorsets": {
        "dark": {
            "styles.backgroundColor": "#4D4D4D"
        },
        "none": {
            "styles.backgroundColor": "#FFFFFF"
        }
    },
    "feature": {
        "header": "<h2 style='text-align: center;'><strong>Building of City</strong></h2>",
        "content": "<p style='text-align: center;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, velit a sagittis.</p>"
    }
}
@-->
<div v-bind:class="colorset"
     class="bloks__bloks-feature bloks__block"
     v-bind:style="{
     backgroundAttachment:styles.backgroundAttachment,
     paddingTop: styles.paddingTop + 'px',
     paddingBottom: styles.paddingBottom + 'px',
     paddingRight: styles.paddingRight + 'px',
     paddingLeft: styles.paddingLeft + 'px',
     backgroundImage: 'url(' + styles.backgroundImage + ')',
     backgroundRepeat: styles.backgroundRepeat,
     backgroundPosition: styles.backgroundPosition,
     }"
     v-settings="{ title: 'Images <span class=\'\ibloks-chevron-right\'\></span> Text outside', layout: 'settings', colorpicker: 'backdrop'}">
    <div class="bloks__block-content bloks__block-boxed">
        <!-- text -->
        <div class="feature-description bloks__block-content-description-top bloks__block-text-outside-top">
            <div class="title-text-image" v-if="settings.header">
                <div class="align-title title-header">
                    <bloks-editor :content.sync="feature.header" placeholder="Please enter your title here!" default-paragraph="h2" :mode="['full']"></bloks-editor>
                </div>
            </div>
            <div class="content-feature" v-if="settings.content">
                <div class="align-content">
                    <bloks-editor :content.sync="feature.content"></bloks-editor>
                </div>
            </div>
        </div>
        <!-- media -->
        <bloks-media :autoplay.sync="autoplay" :title.sync="feature.header" :href.sync="href" :type.sync="type"
                     :backdrop="backdrop" :src.sync="src" :newtab.sync="newtab"
                     :settings="{ volume: volume }"></bloks-media>

    </div>
</div>