<!--@name Four Cols @-->
<!--@screenshot https://s3-us-west-2.amazonaws.com/bloks.co/bloks/grid/four-cols/screenshot.png @-->
<!--@styles
{
    "paddingTop": 30,
    "paddingBottom": 30
}
@-->
<!--@settings
{
    "showtitle": true,
    "showdescription": true,
    "showmedia": true,
    "showsubtitle": true,
    "showsubdescription": true,
    "showbutton": true,
    "maxheight": 300,
    "minheight": 50,
    "height": 170
}
@-->
<!--@header
{
    "title": "<h2 style='text-align: center;'><strong>What's News Today!</strong></h2>",
    "description": "<p style='text-align: center;'>Etiam porttitor mi id vulputate tempus vivamus tempus in lorem nec vulputate cras mattis aliquam.</p>"
}
@-->
<!--@grid
[
    {
        "url": "https://s3-us-west-2.amazonaws.com/bloks.co/bloks/grid/four-cols/grid-03.jpg",
        "alt": "bloks image",
        "title": "<h3><strong>What is Lorem Ipsum</strong></h3>",
        "subdescription": "<p>Lorem is its ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod varm.</p>",
        "maxwidth": "",
        "maxheight": "",
        "isgrid": "1",
        "button": {
            "text": "Read more",
            "align": "bloks__button-left",
            "size": "bloks__button-medium",
            "background": "transparent",
            "color": "#6C6C6C",
            "href": "",
            "newtab": false
            }
    },
    {
        "url": "https://s3-us-west-2.amazonaws.com/bloks.co/bloks/grid/four-cols/grid-04.jpg",
        "alt": "bloks image",
        "title": "<h3><strong>Why do we use it</strong></h3>",
        "subdescription": "<p>Lorem is its ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod varm.</p>",
        "maxwidth": "",
        "maxheight": "",
        "isgrid": "1",
        "button": {
            "text": "Read more",
            "align": "bloks__button-left",
            "size": "bloks__button-medium",
            "background": "transparent",
            "color": "#6C6C6C",
            "href": "",
            "newtab": false
            }
    },
    {
        "url": "https://s3-us-west-2.amazonaws.com/bloks.co/bloks/grid/four-cols/grid-05.jpg",
        "alt": "bloks image",
        "title": "<h3><strong>Where does it come</strong></h3>",
        "subdescription": "<p>Lorem is its ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod varm.</p>",
        "maxwidth": "",
        "maxheight": "",
        "isgrid": "1",
        "button": {
            "text": "Read more",
            "align": "bloks__button-left",
            "size": "bloks__button-medium",
            "background": "transparent",
            "color": "#6C6C6C",
            "href": "",
            "newtab": false
            }
    },
    {
        "url": "https://s3-us-west-2.amazonaws.com/bloks.co/bloks/grid/four-cols/grid-06.jpg",
        "alt": "bloks image",
        "title": "<h3><strong>Where can I get some</strong></h3>",
        "subdescription": "<p>Lorem is its ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod varm.</p>",
        "maxwidth": "",
        "maxheight": "",
        "isgrid": "1",
        "button": {
            "text": "Read more",
            "align": "bloks__button-left",
            "size": "bloks__button-medium",
            "background": "transparent",
            "color": "#6C6C6C",
            "href": "",
            "newtab": false
            }
    }
]
@-->
<!--@colorsets
{
    "dark": {
        "styles.backgroundColor": "rgba(77, 77, 77, 1)",
        "grid[0].button.color": "#ffffff",
        "grid[1].button.color": "#ffffff",
        "grid[2].button.color": "#ffffff",
        "grid[3].button.color": "#ffffff"
    },
    "none": {
        "styles.backgroundColor": "rgba(255, 255, 255, 0.6)",
        "grid[0].button.color": "#6C6C6C",
        "grid[1].button.color": "#6C6C6C",
        "grid[2].button.color": "#6C6C6C",
        "grid[3].button.color": "#6C6C6C"
    }
}
@-->
<div v-settings="{title: 'Grid <span class=\'\ibloks-chevron-right\'\></span> Four Cols', grid: 'settings'}" v-bind:class="colorset"
     v-bind:style="{
     backgroundAttachment:styles.backgroundAttachment,
     paddingTop: styles.paddingTop + 'px',
     paddingBottom: styles.paddingBottom + 'px',
     paddingRight: styles.paddingRight + 'px',
     paddingLeft: styles.paddingLeft + 'px',
     backgroundImage: 'url(' + styles.backgroundImage + ')',
     backgroundRepeat: styles.backgroundRepeat,
     backgroundPosition: styles.backgroundPosition,
     }"
     class="bloks__block bloks__block-grid bloks-grid4">
    <div class="bloks-wrap-container">
        <div v-bind:class="styles.classContainer" class="bloks__block-boxed">
            <div class="container-fluid">
                <div class="row grid-content">
                    <template v-if="settings.showtitle">
                        <div class="title col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                            <div>
                                <bloks-editor :content.sync="header.title" placeholder="Your title here!" default-paragraph="h2" :mode="['full']"></bloks-editor>
                            </div>
                        </div>
                    </template>
                    <template v-if="settings.showdescription">
                        <div class="description margin_19 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                            <div>
                                <bloks-editor :content.sync="header.description" placeholder="Your text here!"></bloks-editor>
                            </div>
                        </div>
                    </template>
                    <div class="col-md-12 grid-text-content">
                        <div class="col-md-3 col-sm-6 col-xs-12 grid-cols" v-for="(n, item) in grid">
                            <div class="grid-item" v-col>
                                <div class="wrap-image mar_bottom_38" v-show="settings.showmedia" v-bind:style="{ height: settings.height + 'px' }">
                                    <bloks-media
                                            :src.sync="grid[n].url"
                                            :href.sync="grid[n].button.href"
                                            :newtab.sync="grid[n].button.newtab"
                                            :settings="{ allow: ['image'] }"
                                            :maxheight.sync="grid[n].maxheight"
                                            :maxwidth.sync="grid[n].maxwidth"></bloks-media>
                                </div>
                                <div v-if="settings.showsubtitle" data-element="title" class="subtitle">
                                    <bloks-editor :content.sync="grid[n].title" placeholder="Your title here!" default-paragraph="h3" :mode="['full']"></bloks-editor>
                                </div>
                                <div v-if="settings.showsubdescription" data-element="subdescription" class="subdescription">
                                    <bloks-editor :content.sync="grid[n].subdescription" placeholder="Your text here!"></bloks-editor>
                                </div>
                                <bloks-button v-if="grid[n].button !== undefined && settings.showbutton"
                                              :href.sync="grid[n].button.href"
                                              :title.sync="grid[n].button.text"
                                              :align.sync="grid[n].button.align"
                                              :size.sync="grid[n].button.size"
                                              :background.sync="grid[n].button.background"
                                              :color.sync="grid[n].button.color"
                                              :newtab.sync="grid[n].button.newtab"></bloks-button>
                                <input type="hidden" value="{{n}}" name="index" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>